@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family:Arial,Helvetica,sans-serif;
    background-color:#fbfbf3;
}

img {
	width: 100%;
    display: block;
}

body {
    margin:0;
    padding:0;
}

.masthead {
    background-color:white;
    overflow:hidden;
}
    
    
.logo {
    height:5rem;
    width:auto;
    margin:1rem 2%;
}

header {
    background-color:#cc0000;
    overflow:hidden;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

li {
    display:inline;
}

header a {
    text-decoration:none;
    color:white;
    padding:1rem 3%;
}

header a:hover {
    color:#cc0000;
    background-color:white;
}

.billboard {
    margin:1rem 3%;
    overflow:hidden;
    
    background-color:#cc0000;
    background-image:url(../images/protester.jpg);
    background-repeat:no-repeat;
    background-size:40rem;
    background-position:center center;
    padding:6rem 0;
}

h1 {
    margin:1rem 3%;
    font-size:1.85rem;    
}

p span {
    margin:0 3%;
    font-size:.75rem;
    font-style:italic;
}

div {
    margin:1rem 3%;
    padding:.25rem 3%;
    background-color:white;
}

h2 {
    font-size:.25rem;
    color:#cc0000;
    background-color:rgba(225,225,225,.9);
    line-height:.95rem;
    font-weight:normal;
    text-align:left;
    margin:13rem 0 -6rem 0;
}
   
div p {
    font-size:.85rem;
    line-height:1.5rem;
    padding:0 0 0 0;
}

div p:first-child {
    font-size:.75rem;
    line-height:1rem;
    margin:0 0 2rem ;
    text-indent:0;
    color:#cc0000;
}

.dropcap:first-letter {
    font-size:6rem;
    margin:0 -.25rem 0 0;
    color:rgba(204,0,0,.5);
    font-weight:bold;
    float:left;
    
}

figure {
    background-color:white;
    margin:1rem 3%;
}

figcaption {
    font-size:.75rem;
    line-height:.95rem;
}

footer {
    background-color:#cc0000;
}

footer a {
    text-decoration:none;
    color:white;
    margin:.25rem 3%;
}

.copyright {
    background:white;
}

.copyright p {
    font-size:.25rem;
}

.logo2 {
    height:2rem;
    width:auto;
    margin:.25rem 3%;
}